:root{
  background: radial-gradient(rgba(18,35,40,0), #12232E);
}

*{
  margin: 0;
  padding: 0;
  font-family: "Object Sans", sans-serif;
  letter-spacing: .05em;
}

html, body{
  height: 100%;
}

h1{
  text-align: center;
  background: #203647;
  margin: 1%;
  border-radius: 9999px;
  padding: 1em;
  color: white;
}

#sketchpad_link{
  color: black;
}

#intro{
  text-align: center;
}

#links{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  background: #007CC7;
}
.link{
  color: white;
  font-size: 1.17em;
}