:root{
  --component-border: 4px solid black;
  margin: 0px;
  padding: 0px
}

#pad_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.component_header{
  margin: 0px;
  text-align: center;
  flex: 1;
  text-decoration: underline;
}
/*------------------Graph Data-----------------------*/
#data_container{
  display: flex;
  border: var(--component-border);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  flex-basis: 16%;
}

#graph_data_comp {
  text-align: center;
  flex: 1;
}

.graph_data{
  flex: 1;
  text-align: left;
}

#vertex_count{
  display: flex;
}

#data_toggles{
  display: flex;
  justify-content: space-between;
}

#custom_id{
  display: flex;
  flex-direction: column;
  text-align: left;
}

/*------------------Sketchpad-----------------------*/
#sketchpad_container{
  flex-basis: 50%;
}

#sketchpad {
  background: lightgray;
  height: 100%;
  border: var(--component-border);
}

.vertex{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertex_id {
  position: relative;
  top: -60%;
}

.vertex_deg{
  position: relative;
  top: 60%;
}

/*------------------Commands-----------------------*/
#command_container {
  display: flex;
  border: var(--component-border);
  box-sizing: border-box;
  padding: 10px;
  flex-basis: 16%;
  border-radius: 25px;
}

#commands_comp{
  text-align: center;
  flex: 1;
}

#commands_and_colors{
  display: flex;
  justify-content: space-between;
}

#commands{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.command_button{
  font-size: medium;
  margin: 10px;
}

#colors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-column-gap: 10%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.color_header{
  grid-column: 1/4;
  text-align: center;
  margin: 0 0 -5%;
}

.color_picker{
  grid-column: 1/4;
  width: 100%;
}

.color_palette{
  width: 100%;
  height: 50%;
  border-radius: 9999px;
}

#arrow_color{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
