:root{
  --component-border: 4px solid black;
  margin: 0px;
  padding: 0px
}

#pad_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.component_header{
  margin: 0px;
  text-align: center;
  flex: 1;
  text-decoration: underline;
}
/*------------------Graph Data-----------------------*/
#data_container{
  display: flex;
  border: var(--component-border);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  flex-basis: 15%;
}

#graph_data_comp {
  text-align: center;
  flex: 1;
}

.graph_data{
  flex: 1;
  text-align: left;
}

/*------------------Sketchpad-----------------------*/
#sketchpad_container{
  flex-basis: 50%;
}

#sketchpad {
  background: lightgray;
  height: 100%;
  border: var(--component-border);
}

.vertex_id {
  position: relative;
  border: none;
  background: none;
  text-align: center;
  top: -100%;
  left: -295%;
  font-weight: normal;
}

.vertex_id::-webkit-input-placeholder{
  font-weight: normal;
  color: black;
}

.vertex_id:focus{
  outline: none;
}

.vertex_deg{
  position: relative;
  top: 50%;
  left: 35%;
}

/*------------------Commands-----------------------*/
#command_container {
  display: flex;
  border: var(--component-border);
  box-sizing: border-box;
  padding: 10px;
  flex-basis: 15%;
  border-radius: 25px;
}

#commands_comp{
  text-align: center;
  flex: 1;
}

#commands_and_colors{
  display: flex;
}

#commands{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.command_button{
  font-size: medium;
  margin: 10px;
}

#colors{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#color_picker{
  box-sizing: border-box;
  width: 150px;
  height: 50px;
}

#default_color_palette_wrapper{
  display: grid;
  width: 150px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 5px;
}

.default_color_palette{
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

#custom_color_palette_wrapper{
  display: grid;
  width: 150px;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 2px;
  margin-bottom: 1em;
}

.custom_color_palette{
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 5px;
}

.color_header{
  margin-bottom: -5px;
}

